<!--Seccion de acerca de-->
<img src="../../../assets/Image/madera.jpg" alt="Cabecera" class="img-header">

<section class="container">
	<section class="block min-block">
		<h1 class="header">Acerda de nosotros</h1>
		<span class="first-text">Nuestro equipo cuenta con profesionales dedicados para la entrega de trabajos de calidad, con etica y responsabilidad.</span>
		 <br>
	</section>
	
	<section class="block">
		<article class="article left">
			<h2 class="subtitle">Desarrollo Frondend y Backend</h2>
			<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper arcu posuere velit varius, et eleifend tellus maximus. Pellentesque turpis neque, tristique congue fermentum eget, cursus a purus. Nam lectus justo, viverra non justo at, aliquam fermentum lectus. Nam sed lobortis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum tellus magna, dapibus eu ultrices ut, molestie id tortor. Integer semper feugiat risus, consequat ultrices nisl rutrum quis. Vivamus fringilla sapien nunc, quis lobortis neque venenatis nec. Curabitur quam nunc, ultricies et diam sit amet, dapibus laoreet odio. Curabitur commodo tortor in urna dictum.</p>
		</article>
		<aside class="img-section rigth">
			<img src="../../../assets/Image/logo.png" alt="Imagen 1" class="img img-1">
			<img src="../../../assets/Image/escritorio.png" alt="Imagen 2" class="img img-1">
		</aside>
	</section>

	<section class="block second-block">
		<img src="./../../assets/Image/smartphone.png" alt="Fondo de plantilla" class="background">
		<article class="article rigth">
			<h2 class="subtitle second-subtitle white">Profesionales</h2>
			<p class="content white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum felis nunc, aliquam non condimentum nec, finibus ac augue. Pellentesque facilisis scelerisque vehicula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo enim, bibendum eu odio at, pretium convallis ante.</p>
		</article>
		<aside class="img-section img-second">
			<img src="../../../assets/Image/negocio.jpg" alt="Imagen 3" class="img">
		</aside>
	</section>

</section>