.footer{
	position: relative;
	z-index: 1;
	padding: auto;
	margin-top: 15px;
	color: white;
	font-size: 20px;
	padding: 75px;
}

.text {
	float: left;
}

.contact{
	float: right;
}

.icons{
	display: inline;
	height: 46px;
}

.element{
	width: 46px;
	height: 46px;
	margin-left: 15px;
	position: relative;
	top: -6px;
}

.link{
	color: white;
	text-decoration: none;
}

.center{
	position: absolute;
	left: 600px;
	margin-top: -30px;
	color: white;
}