<!--Seccion de contacto -->
<img src="../../../assets/Image/contacto.jpg" alt="Contactp" class="img-background">

<section class="container">
	<h1 class="header">Contacta con nosotros y has posible tu proyecto</h1>
	<form class="form">
		<div class="form-group">
			<label for="name">Nombre</label>
			<input type="text" name="name" placeholder="Nombre" class="form-control">
		</div>

		<div class="form-group">
			<label for="email">Correo electronico</label>
			<input type="email" name="email" placeholder="Email" class="form-control">
			<small  class="form-text text-muted">Tus datos nunca seran revelados.</small>
		</div>

		<div class="form-group">
			<label for="messsage">Mensaje</label>
			<textarea name="messsage" placeholder="Mensaje" class="form-control"></textarea>
		</div>

		<button type="submit" class="btn btn-outline-light submit">Enviar</button>
	</form>
</section>