<!--Barra de navegacion de la pagina-->
<!--Background de barra de navegacion-->
<div class="home">
</div>


<nav class="navbar navbar-expand-lg navbar-light top ">
  <a class="navbar-brand white" [routerLink]="['home']">Portafolio</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link white" [routerLink]="['proyect/explore']">Explorar <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link white" [routerLink]="['about']">Acerca de</a>
      <a *ngIf="this.auth; else notAuth" class="nav-item nav-link white" [routerLink]="['contact/admin']">Contacto</a>
      <ng-template #notAuth>
      	<a class="nav-item nav-link white" [routerLink]="['contact']">Contacto</a>
      </ng-template>
    </div>
  </div>
</nav>

