<!--Seccion de detalles de un proyecto-->
<img src="../../../assets/Image/adventure.jpg" alt="Imagen de cabecera" class="img-header">

<section class="container" *ngIf="this.proyect">
	<div class="block">
		<aside class="details-left">
			<img src="{{this.proyect.images}}" class="img-proyect" alt="Imagen de proyecto">
			<span class='date light'>Fecha: {{this.proyect.date}}</span>
		</aside>
		<article class="details-rigth">
			<h1>{{this.proyect.name}}</h1>
			<span class="light">Categoria: {{this.proyect.category}}</span>
			<p>Descripcion: {{this.proyect.description}}</p>
		</article>
	</div>
	<div class="block">
		<span>Git: <a href="{{this.proyect.git}}">Git</a></span>
		<br>
		<span>Url: <a href="{{this.proyect.url}}">Url</a></span>
	</div>
	<div class="buttons" *ngIf="this.isAuth">
		<a class="btn btn-warning btn-edit" [routerLink]="['/proyect/update', this.proyect._id]">Editar</a>
		<button type="button" class="btn btn-danger btn-edit" (click)="removeProyect(this.proyect._id)">Eliminar</button>
	</div>
</section>