<!-- Esta es la pagina home-->
<section>

	<img src="../../../assets/Image/home-office.jpg" class="img-fluid header-img" alt="Titulo">
	<div class="block">
		<h1 class="title">Desarrollo web</h1>
		<p class="fist-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed arcu eu eros fringilla hendrerit et.
		</p>
	</div>

	<div class="block container">
		<h2 class="subtitle">Desarrollo Frondend y Backend</h2>
		<p class="second-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat tempor mauris, ut elementum nibh scelerisque non. Proin erat magna, finibus quis porta nec, luctus sed urna. In ac magna sollicitudin, tempus arcu vitae, fermentum nisl. Donec vitae magna at arcu tempus tempor sed sodales est. Maecenas sed tellus velit.</p>
		<img src="../../../assets/Image/webdesign.jpg" alt="Desarrollo Web" class="rounded float-rigth img-rigth">
	</div>

	<div class="block">
		<img src="../../../assets/Image/laptop.jpg" class="img-fluid img-explore" alt="Explorar">
		<div class="box">
			<h2 class="subtitle-explore">Explora proyectos anteriores</h2>
			<p class="text-explore container">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur volutpat tempor mauris, ut elementum nibh scelerisque non. Proin erat magna, finibus quis porta nec, luctus sed urna. In ac magna sollicitudin, tempus arcu vitae, fermentum nisl. Donec vitae magna at arcu tempus tempor sed sodales est. Maecenas sed tellus velit.</p>			
		</div>
	</div>

</section>
