<!--Lista de comentarios de usuarios-->
<section class="container text-center	">
	<h1>Contactos</h1>
	<br>

	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">Nombre</th>
	      <th scope="col">Mensaje</th>
	      <th scope="col">Fecha</th>
	    </tr>
	  </thead>
	  <tbody *ngIf="this.success">
	    <tr *ngFor="let message of this.messages" [style.color]="message.read ? '#999' : '#333' ">
	      <td><a [routerLink]="['/contact/details/', message._id]" class="name">{{message.name | titlecase}}</a></td>
	      <td>{{message.message | titlecase}}</td>
	      <th scope="row">{{message.date | date : 'd MMM'}}</th>
	    </tr>
	    
	  </tbody>
	</table>

</section>
