<!--Seccion de login de la pagina-->
<br>
<section class="container jumbotron text-center">
	
	<h1>{{title}}</h1>
	<hr>

	<form [formGroup]="logIn" (submit)="onSubmit(logIn.value)">

		<div class="alert alert-warning" role="alert" *ngIf="invalidForm">
			No se ha podido iniciar sesion, email o contraseña invalido.
		</div>
		<span class="alert-danger" role="alert">{{getError('email')}}</span>
		<div class="form-group">
		    <label for="email">Direccion de Email</label>
		    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
		    <small id="emailHelp" class="form-text text-muted">En ningun momento se expondran tus datos personales.</small>
		</div>

		<span class=" alert-danger" role="alert">{{getError('password')}}</span>
		<div class="form-group">
			
		    <label for="password">Contraseña</label>
		    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
		</div>

		<div class="form-group form-check">
		    <input formControlName="check" type="checkbox" class="form-check-input" id="check">
		    <label class="form-check-label" for="check">Mantener sesion iniciada</label>
		</div>

		<button type="submit" class="btn btn-primary" [disabled]="logIn.invalid">Iniciar sesion</button>
		<br>
		<br>
		<a class="" [routerLink]="['/sign-up']">Registrarte</a>

	</form>

	<p>{{this.bool}}</p>
	
</section>